.flex-box-rps img:hover{
    font-size: 150%;
    size: 1cm;
    

}
.flex-box-rps img {
    width: 160px;
}

.bcontent{
    margin-left: 110px;
    margin-block: 10px ;
}

.yourChoice{
    
}